# Worksheet A-4: Tidy Data & The Model-Fitting Paradigm in R

By the end of this worksheet, you will be able to:

(From tidyr)

- convert a dataset between the 'long' and 'wide' format, using `tidyr::pivot_longer()` and `tidyr::pivot_wider()`
- assess which format is best suited for each type of analysis
- deal with missing data in a tibble

(From modelling)

- make a model object in R, using `lm()` as an example.
- write a formula in R.
- predict on a model object with the `broom::augment()` and `predict()` functions.
- extract information from a model object using `broom::tidy()`, `broom::glance()`, and traditional means.

To get full marks for this worksheet, you must successfully answer at least 10 of the autograded questions. There are 15 questions in total.

## Getting Started

Load the requirements for this worksheet:

In [1]:
library(testthat)
library(digest)
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(broom))
suppressPackageStartupMessages(library(gapminder))
lotr  <- suppressMessages(read_csv("https://raw.githubusercontent.com/jennybc/lotr-tidy/master/data/lotr_tidy.csv"))
guest <- suppressMessages(read_csv("https://raw.githubusercontent.com/STAT545-UBC/Classroom/master/data/wedding/attend.csv"))

The following code chunk has been unlocked, to give you the flexibility to start this document with some of your own code. Remember, it's bad manners to keep a call to `install.packages()` in your source code, so don't forget to delete these lines if you ever need to run them.

In [4]:
# An unlocked code cell.

   Film                       Race   Gender Words
1  The Fellowship Of The Ring Elf    Female 1229
2  The Fellowship Of The Ring Hobbit Female   14
3  The Fellowship Of The Ring Man    Female    0
4  The Two Towers             Elf    Female  331
5  The Two Towers             Hobbit Female    0
6  The Two Towers             Man    Female  401
7  The Return Of The King     Elf    Female  183
8  The Return Of The King     Hobbit Female    2
9  The Return Of The King     Man    Female  268
10 The Fellowship Of The Ring Elf    Male    971
11 The Fellowship Of The Ring Hobbit Male   3644
12 The Fellowship Of The Ring Man    Male   1995
13 The Two Towers             Elf    Male    513
14 The Two Towers             Hobbit Male   2463
15 The Two Towers             Man    Male   3589
16 The Return Of The King     Elf    Male    510
17 The Return Of The King     Hobbit Male   2673
18 The Return Of The King     Man    Male   2459

# Part 1: Tidy Data with Univariate Pivoting

Consider the Lord of the Rings data. Run the code cell below to see the first few lines of the tibble.

In [7]:
print(lotr, n = 5)

# A tibble: 18 x 4
  Film                       Race   Gender Words
  <chr>                      <chr>  <chr>  <dbl>
1 The Fellowship Of The Ring Elf    Female  1229
2 The Fellowship Of The Ring Hobbit Female    14
3 The Fellowship Of The Ring Man    Female     0
4 The Two Towers             Elf    Female   331
5 The Two Towers             Hobbit Female     0
# ... with 13 more rows

## Question 1.1
Widen the data so that we see the words spoken by each race, by puttting race as its own column. Store the answer in `answer1.1`.

```
(answer1.1 <- lotr %>%
    FILL_THIS_IN(id_cols = c(-FILL_THIS_IN, -FILL_THIS_IN), 
                names_from = FILL_THIS_IN,
                values_from = FILL_THIS_IN))
```

Your `answer1.1` should look something like this (full tibble not always shown):

![answer1.1](https://github.com/UBC-STAT/stat545.stat.ubc.ca/raw/master/content/data/worksheet_04a/answer1.1.png)

_Sidenote:_ Putting a variable assignment in parenthesis will not only assign the value to the variable, but also print to console. Normally when you assign a variable, you do not get to see the value of the variable. This is a helpful tip so you can see what you are storing!

In [6]:
(answer1.1 <- lotr %>%
    pivot_wider(id_cols = c(-Race, -Words), 
                names_from = Race,
                values_from = Words))
print(answer1.1)
arrange_all(answer1.1)

  Film                       Gender Elf  Hobbit Man
1 The Fellowship Of The Ring Female 1229   14      0
2 The Two Towers             Female  331    0    401
3 The Return Of The King     Female  183    2    268
4 The Fellowship Of The Ring Male    971 3644   1995
5 The Two Towers             Male    513 2463   3589
6 The Return Of The King     Male    510 2673   2459

# A tibble: 6 x 5
  Film                       Gender   Elf Hobbit   Man
  <chr>                      <chr>  <dbl>  <dbl> <dbl>
1 The Fellowship Of The Ring Female  1229     14     0
2 The Two Towers             Female   331      0   401
3 The Return Of The King     Female   183      2   268
4 The Fellowship Of The Ring Male     971   3644  1995
5 The Two Towers             Male     513   2463  3589
6 The Return Of The King     Male     510   2673  2459

  Film                       Gender Elf  Hobbit Man
1 The Fellowship Of The Ring Female 1229   14      0
2 The Fellowship Of The Ring Male    971 3644   1995
3 The Return Of The King     Female  183    2    268
4 The Return Of The King     Male    510 2673   2459
5 The Two Towers             Female  331    0    401
6 The Two Towers             Male    513 2463   3589

In [8]:
test_that("Question 1.1", {
    expect_true(all(c("Film", "Gender", "Elf", "Hobbit", "Man") %in% names(answer1.1)))
    expect_equal(nrow(answer1.1), 6L)
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

## Question 1.2
Re-lengthen the wide `lotr` data (i.e. `answer1.1`) from Question 1.1 above. Store your answer in `answer1.2`.

**Hint:** the resulting data frame should appear to be the _almost the same_ as the original! (No need to reorder the columns)

```
(answer1.2 <- answer1.1 %>% 
  FILL_THIS_IN(cols = c(-FILL_THIS_IN, -FILL_THIS_IN), 
               names_to  = FILL_THIS_IN, 
               values_to = FILL_THIS_IN))
```

Your `answer1.2` should look something like this (full tibble not always shown):

![answer1.2](https://github.com/UBC-STAT/stat545.stat.ubc.ca/raw/master/content/data/worksheet_04a/answer1.2.png)

In [13]:
(answer1.2 <- answer1.1 %>% 
  pivot_longer(cols = c(-Film, -Gender), 
               names_to  = "Race", 
               values_to = "Words"))
print(answer1.2)

   Film                       Gender Race   Words
1  The Fellowship Of The Ring Female Elf    1229
2  The Fellowship Of The Ring Female Hobbit   14
3  The Fellowship Of The Ring Female Man       0
4  The Two Towers             Female Elf     331
5  The Two Towers             Female Hobbit    0
6  The Two Towers             Female Man     401
7  The Return Of The King     Female Elf     183
8  The Return Of The King     Female Hobbit    2
9  The Return Of The King     Female Man     268
10 The Fellowship Of The Ring Male   Elf     971
11 The Fellowship Of The Ring Male   Hobbit 3644
12 The Fellowship Of The Ring Male   Man    1995
13 The Two Towers             Male   Elf     513
14 The Two Towers             Male   Hobbit 2463
15 The Two Towers             Male   Man    3589
16 The Return Of The King     Male   Elf     510
17 The Return Of The King     Male   Hobbit 2673
18 The Return Of The King     Male   Man    2459

# A tibble: 18 x 4
   Film                       Gender Race   Words
   <chr>                      <chr>  <chr>  <dbl>
 1 The Fellowship Of The Ring Female Elf     1229
 2 The Fellowship Of The Ring Female Hobbit    14
 3 The Fellowship Of The Ring Female Man        0
 4 The Two Towers             Female Elf      331
 5 The Two Towers             Female Hobbit     0
 6 The Two Towers             Female Man      401
 7 The Return Of The King     Female Elf      183
 8 The Return Of The King     Female Hobbit     2
 9 The Return Of The King     Female Man      268
10 The Fellowship Of The Ring Male   Elf      971
11 The Fellowship Of The Ring Male   Hobbit  3644
12 The Fellowship Of The Ring Male   Man     1995
13 The Two Towers             Male   Elf      513
14 The Two Towers             Male   Hobbit  2463
15 The Two Towers             Male   Man     3589
16 The Return Of The King     Male   Elf      510
17 The Return Of The King     Male   Hobbit  2673
18 The Return Of The King     Male   Man     2459

In [14]:
test_that("Question 1.2", {
    expect_true(all(c("Film", "Gender", "Race", "Words") %in% names(answer1.2)))
    expect_equal(nrow(answer1.2), 18L)
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

## QUESTION 1.3

Using the `gapminder` dataset: what's the relationship between Canada's GDP per capita and the United Kingdom's? First, produce a tidy tibble from the `gapminder` tibble to address this question. Store your tibble in a variable named `question1.3`. Do not rename any columns.

_Food for thought_: After tidying the data for this problem, we should be able to make a scatterplot of Canada's GDP per capita against the UK's. But, doing so for the original `gapminder` dataset would be difficult. 

```
answer1.3 <- gapminder %>% 
  filter(FILL_TIHS_IN) %>% 
  pivot_FILL_THIS_IN(FILL_THIS_IN)
```

In [27]:
answer1.3 <- gapminder %>% 
  filter(country %in% c("United Kingdom", "Canada")) %>% 
  pivot_wider(id_cols = year, names_from = country, values_from = gdpPercap)
print(answer1.3)

# A tibble: 12 x 3
    year Canada `United Kingdom`
   <int>  <dbl>            <dbl>
 1  1952 11367.            9980.
 2  1957 12490.           11283.
 3  1962 13462.           12477.
 4  1967 16077.           14143.
 5  1972 18971.           15895.
 6  1977 22091.           17429.
 7  1982 22899.           18232.
 8  1987 26627.           21665.
 9  1992 26343.           22705.
10  1997 28955.           26075.
11  2002 33329.           29479.
12  2007 36319.           33203.

In [105]:
test_that("Question 1.3", {
    expect_true("Canada" %in% names(answer1.3))
    expect_true("United Kingdom" %in% names(answer1.3))
    expect_equal(nrow(answer1.3), 12L)
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

# Part 2: Tidy Data with Multivariate Pivoting

Congratulations, you’re getting married! In addition to the wedding, you’ve decided to hold two other events: a day-of brunch and a day-before round of golf. You’ve made a guestlist of attendance so far, along with food preference for the food events (wedding and brunch).

Run the code cell below to see the first few rows of the `guest` data frame.

In [29]:
head(guest)

  party name            meal_wedding meal_brunch attendance_wedding
1 1     Sommer Medrano  PENDING      PENDING     PENDING
2 1     Phillip Medrano vegetarian   Menu C      CONFIRMED
3 1     Blanka Medrano  chicken      Menu A      CONFIRMED
4 1     Emaan Medrano   PENDING      PENDING     PENDING
5 2     Blair Park      chicken      Menu C      CONFIRMED
6 2     Nigel Webb      NA           NA          CANCELLED
  attendance_brunch attendance_golf
1 PENDING           PENDING
2 CONFIRMED         CONFIRMED
3 CONFIRMED         CONFIRMED
4 PENDING           PENDING
5 CONFIRMED         CONFIRMED
6 CANCELLED         CANCELLED

## Question 2.1
Put `meal` and `attendance` as their own columns, with the events living in a new column. Store your answer in `answer2.1`.

```
(answer2.1 <- guest %>% 
  FILL_THIS_IN(cols      = c(-FILL_THIS_IN, -FILL_THIS_IN), 
               names_to  = c(FILL_THIS_IN, FILL_THIS_IN),
               names_sep = FILL_THIS_IN))
```               

**Hint**: Read the possible values for `names_to` in the corresponding documentation of the function you choose!

Your `answer2.1` should look something like this (full tibble not always shown):

![answer2.1](https://github.com/UBC-STAT/stat545.stat.ubc.ca/raw/master/content/data/worksheet_04a/answer2.1.png)

In [103]:
(answer2.1 <- guest %>% 
  pivot_longer(cols      = c(-party, -name), 
               names_to  = c(".value", "event"),
               names_sep = "_"))
print(answer2.1)

    party name             event   meal       attendance
1   1     Sommer Medrano   wedding PENDING    PENDING
2   1     Sommer Medrano   brunch  PENDING    PENDING
3   1     Sommer Medrano   golf    NA         PENDING
4   1     Phillip Medrano  wedding vegetarian CONFIRMED
5   1     Phillip Medrano  brunch  Menu C     CONFIRMED
6   1     Phillip Medrano  golf    NA         CONFIRMED
7   1     Blanka Medrano   wedding chicken    CONFIRMED
8   1     Blanka Medrano   brunch  Menu A     CONFIRMED
9   1     Blanka Medrano   golf    NA         CONFIRMED
10  1     Emaan Medrano    wedding PENDING    PENDING
11  1     Emaan Medrano    brunch  PENDING    PENDING
12  1     Emaan Medrano    golf    NA         PENDING
13  2     Blair Park       wedding chicken    CONFIRMED
14  2     Blair Park       brunch  Menu C     CONFIRMED
15  2     Blair Park       golf    NA         CONFIRMED
16  2     Nigel Webb       wedding NA         CANCELLED
17  2     Nigel Webb       brunch  NA         CANCELLED
18  2     Nigel Webb       golf    NA         CANCELLED
19  3     Sinead English   wedding PENDING    PENDING
20  3     Sinead English   brunch  PENDING    PENDING
21  3     Sinead English   golf    NA         PENDING
22  4     Ayra Marks       wedding vegetarian PENDING
23  4     Ayra Marks       brunch  Menu B     PENDING
24  4     Ayra Marks       golf    NA         PENDING
25  5     Atlanta Connolly wedding PENDING    PENDING
26  5     Atlanta Connolly brunch  PENDING    PENDING
27  5     Atlanta Connolly golf    NA         PENDING
28  5     Denzel Connolly  wedding fish       CONFIRMED
29  5     Denzel Connolly  brunch  Menu B     CONFIRMED
30  5     Denzel Connolly  golf    NA         CONFIRMED
... ...   ...              ...     ...        ...
61  12    Martin Caldwell  wedding PENDING    PENDING
62  12    Martin Caldwell  brunch  PENDING    PENDING
63  12    Martin Caldwell  golf    NA         PENDING
64  12    Violet Caldwell  wedding PENDING    PENDING
65  12    Violet Caldwell  brunch  PENDING    PENDING
66  12    Violet Caldwell  golf    NA         PENDING
67  12    Nazifa Caldwell  wedding chicken    PENDING
68  12    Nazifa Caldwell  brunch  PENDING    PENDING
69  12    Nazifa Caldwell  golf    NA         PENDING
70  12    Eric Caldwell    wedding chicken    CONFIRMED
71  12    Eric Caldwell    brunch  Menu B     CONFIRMED
72  12    Eric Caldwell    golf    NA         CONFIRMED
73  13    Rosanna Bird     wedding vegetarian CONFIRMED
74  13    Rosanna Bird     brunch  Menu C     CONFIRMED
75  13    Rosanna Bird     golf    NA         CONFIRMED
76  13    Kurtis Frost     wedding PENDING    PENDING
77  13    Kurtis Frost     brunch  PENDING    PENDING
78  13    Kurtis Frost     golf    NA         PENDING
79  14    Huma Stokes      wedding NA         CANCELLED
80  14    Huma Stokes      brunch  NA         CANCELLED
81  14    Huma Stokes      golf    NA         CANCELLED
82  14    Samuel Rutledge  wedding chicken    CONFIRMED
83  14    Samuel Rutledge  brunch  Menu C     CONFIRMED
84  14    Samuel Rutledge  golf    NA         CONFIRMED
85  15    Eddison Collier  wedding PENDING    PENDING
86  15    Eddison Collier  brunch  PENDING    PENDING
87  15    Eddison Collier  golf    NA         PENDING
88  15    Stewart Nicholls wedding chicken    CONFIRMED
89  15    Stewart Nicholls brunch  Menu B     CONFIRMED
90  15    Stewart Nicholls golf    NA         CONFIRMED

# A tibble: 90 x 5
   party name            event   meal       attendance
   <dbl> <chr>           <chr>   <chr>      <chr>
 1     1 Sommer Medrano  wedding PENDING    PENDING
 2     1 Sommer Medrano  brunch  PENDING    PENDING
 3     1 Sommer Medrano  golf    NA         PENDING
 4     1 Phillip Medrano wedding vegetarian CONFIRMED
 5     1 Phillip Medrano brunch  Menu C     CONFIRMED
 6     1 Phillip Medrano golf    NA         CONFIRMED
 7     1 Blanka Medrano  wedding chicken    CONFIRMED
 8     1 Blanka Medrano  brunch  Menu A     CONFIRMED
 9     1 Blanka Medrano  golf    NA         CONFIRMED
10     1 Emaan Medrano   wedding PENDING    PENDING
# ... with 80 more rows

In [104]:
test_that("Question 2.1", {
    expect_true(all(c("party", "name", "event", "meal", "attendance") %in% names(answer2.1)))
    expect_equal(nrow(answer2.1), 90L)
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

## Question 2.2
Use `tidyr::separate()` to split the `name` in `answer2.1` into two columns: `first_name` and `last_name`. Store your answer in `answer2.2`.

```
(answer2.2 <- answer2.1 %>% 
  FILL_THIS_IN(FILL_THIS_IN, into = c(FILL_THIS_IN, FILL_THIS_IN), sep=FILL_THIS_IN))
```  

Your `answer2.2` should look something like this (full tibble not always shown):

![answer2.2](https://github.com/UBC-STAT/stat545.stat.ubc.ca/raw/master/content/data/worksheet_04a/answer2.2.png)

In [101]:
(answer2.2 <- answer2.1 %>% 
  separate(name, into = c("first_name", "last_name"), sep=" "))
print(answer2.2)

    party first_name last_name event   meal       attendance
1   1     Sommer     Medrano   wedding PENDING    PENDING
2   1     Sommer     Medrano   brunch  PENDING    PENDING
3   1     Sommer     Medrano   golf    NA         PENDING
4   1     Phillip    Medrano   wedding vegetarian CONFIRMED
5   1     Phillip    Medrano   brunch  Menu C     CONFIRMED
6   1     Phillip    Medrano   golf    NA         CONFIRMED
7   1     Blanka     Medrano   wedding chicken    CONFIRMED
8   1     Blanka     Medrano   brunch  Menu A     CONFIRMED
9   1     Blanka     Medrano   golf    NA         CONFIRMED
10  1     Emaan      Medrano   wedding PENDING    PENDING
11  1     Emaan      Medrano   brunch  PENDING    PENDING
12  1     Emaan      Medrano   golf    NA         PENDING
13  2     Blair      Park      wedding chicken    CONFIRMED
14  2     Blair      Park      brunch  Menu C     CONFIRMED
15  2     Blair      Park      golf    NA         CONFIRMED
16  2     Nigel      Webb      wedding NA         CANCELLED
17  2     Nigel      Webb      brunch  NA         CANCELLED
18  2     Nigel      Webb      golf    NA         CANCELLED
19  3     Sinead     English   wedding PENDING    PENDING
20  3     Sinead     English   brunch  PENDING    PENDING
21  3     Sinead     English   golf    NA         PENDING
22  4     Ayra       Marks     wedding vegetarian PENDING
23  4     Ayra       Marks     brunch  Menu B     PENDING
24  4     Ayra       Marks     golf    NA         PENDING
25  5     Atlanta    Connolly  wedding PENDING    PENDING
26  5     Atlanta    Connolly  brunch  PENDING    PENDING
27  5     Atlanta    Connolly  golf    NA         PENDING
28  5     Denzel     Connolly  wedding fish       CONFIRMED
29  5     Denzel     Connolly  brunch  Menu B     CONFIRMED
30  5     Denzel     Connolly  golf    NA         CONFIRMED
... ...   ...        ...       ...     ...        ...
61  12    Martin     Caldwell  wedding PENDING    PENDING
62  12    Martin     Caldwell  brunch  PENDING    PENDING
63  12    Martin     Caldwell  golf    NA         PENDING
64  12    Violet     Caldwell  wedding PENDING    PENDING
65  12    Violet     Caldwell  brunch  PENDING    PENDING
66  12    Violet     Caldwell  golf    NA         PENDING
67  12    Nazifa     Caldwell  wedding chicken    PENDING
68  12    Nazifa     Caldwell  brunch  PENDING    PENDING
69  12    Nazifa     Caldwell  golf    NA         PENDING
70  12    Eric       Caldwell  wedding chicken    CONFIRMED
71  12    Eric       Caldwell  brunch  Menu B     CONFIRMED
72  12    Eric       Caldwell  golf    NA         CONFIRMED
73  13    Rosanna    Bird      wedding vegetarian CONFIRMED
74  13    Rosanna    Bird      brunch  Menu C     CONFIRMED
75  13    Rosanna    Bird      golf    NA         CONFIRMED
76  13    Kurtis     Frost     wedding PENDING    PENDING
77  13    Kurtis     Frost     brunch  PENDING    PENDING
78  13    Kurtis     Frost     golf    NA         PENDING
79  14    Huma       Stokes    wedding NA         CANCELLED
80  14    Huma       Stokes    brunch  NA         CANCELLED
81  14    Huma       Stokes    golf    NA         CANCELLED
82  14    Samuel     Rutledge  wedding chicken    CONFIRMED
83  14    Samuel     Rutledge  brunch  Menu C     CONFIRMED
84  14    Samuel     Rutledge  golf    NA         CONFIRMED
85  15    Eddison    Collier   wedding PENDING    PENDING
86  15    Eddison    Collier   brunch  PENDING    PENDING
87  15    Eddison    Collier   golf    NA         PENDING
88  15    Stewart    Nicholls  wedding chicken    CONFIRMED
89  15    Stewart    Nicholls  brunch  Menu B     CONFIRMED
90  15    Stewart    Nicholls  golf    NA         CONFIRMED

# A tibble: 90 x 6
   party first_name last_name event   meal       attendance
   <dbl> <chr>      <chr>     <chr>   <chr>      <chr>
 1     1 Sommer     Medrano   wedding PENDING    PENDING
 2     1 Sommer     Medrano   brunch  PENDING    PENDING
 3     1 Sommer     Medrano   golf    NA         PENDING
 4     1 Phillip    Medrano   wedding vegetarian CONFIRMED
 5     1 Phillip    Medrano   brunch  Menu C     CONFIRMED
 6     1 Phillip    Medrano   golf    NA         CONFIRMED
 7     1 Blanka     Medrano   wedding chicken    CONFIRMED
 8     1 Blanka     Medrano   brunch  Menu A     CONFIRMED
 9     1 Blanka     Medrano   golf    NA         CONFIRMED
10     1 Emaan      Medrano   wedding PENDING    PENDING
# ... with 80 more rows

In [102]:
test_that("Question 2.2", {
    expect_true(all(c("party", "first_name", "last_name", "event", "meal", "attendance") %in% names(answer2.2)))
    expect_equal(nrow(answer2.2), 90L)
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

### Question 2.3
Re-unite `first_name` and `last_name` in `answer2.2` back into `name` using `tidyr::unite()`. Store your answer in `answer2.3`.

```
(answer2.3 <- answer2.2 %>%
    FILL_THIS_IN(col = FILL_THIS_IN, c(FILL_THIS_IN, FILL_THIS_IN), sep = FILL_THIS_IN))
```    

Your `answer2.3` should look something like this (full tibble not always shown):

![answer2.3](https://github.com/UBC-STAT/stat545.stat.ubc.ca/raw/master/content/data/worksheet_04a/answer2.3.png)

In [98]:
(answer2.3 <- answer2.2 %>%
    unite(col = "name", c(first_name, last_name), sep = "_" ))
print(answer2.3)

    party name             event   meal       attendance
1   1     Sommer_Medrano   wedding PENDING    PENDING
2   1     Sommer_Medrano   brunch  PENDING    PENDING
3   1     Sommer_Medrano   golf    NA         PENDING
4   1     Phillip_Medrano  wedding vegetarian CONFIRMED
5   1     Phillip_Medrano  brunch  Menu C     CONFIRMED
6   1     Phillip_Medrano  golf    NA         CONFIRMED
7   1     Blanka_Medrano   wedding chicken    CONFIRMED
8   1     Blanka_Medrano   brunch  Menu A     CONFIRMED
9   1     Blanka_Medrano   golf    NA         CONFIRMED
10  1     Emaan_Medrano    wedding PENDING    PENDING
11  1     Emaan_Medrano    brunch  PENDING    PENDING
12  1     Emaan_Medrano    golf    NA         PENDING
13  2     Blair_Park       wedding chicken    CONFIRMED
14  2     Blair_Park       brunch  Menu C     CONFIRMED
15  2     Blair_Park       golf    NA         CONFIRMED
16  2     Nigel_Webb       wedding NA         CANCELLED
17  2     Nigel_Webb       brunch  NA         CANCELLED
18  2     Nigel_Webb       golf    NA         CANCELLED
19  3     Sinead_English   wedding PENDING    PENDING
20  3     Sinead_English   brunch  PENDING    PENDING
21  3     Sinead_English   golf    NA         PENDING
22  4     Ayra_Marks       wedding vegetarian PENDING
23  4     Ayra_Marks       brunch  Menu B     PENDING
24  4     Ayra_Marks       golf    NA         PENDING
25  5     Atlanta_Connolly wedding PENDING    PENDING
26  5     Atlanta_Connolly brunch  PENDING    PENDING
27  5     Atlanta_Connolly golf    NA         PENDING
28  5     Denzel_Connolly  wedding fish       CONFIRMED
29  5     Denzel_Connolly  brunch  Menu B     CONFIRMED
30  5     Denzel_Connolly  golf    NA         CONFIRMED
... ...   ...              ...     ...        ...
61  12    Martin_Caldwell  wedding PENDING    PENDING
62  12    Martin_Caldwell  brunch  PENDING    PENDING
63  12    Martin_Caldwell  golf    NA         PENDING
64  12    Violet_Caldwell  wedding PENDING    PENDING
65  12    Violet_Caldwell  brunch  PENDING    PENDING
66  12    Violet_Caldwell  golf    NA         PENDING
67  12    Nazifa_Caldwell  wedding chicken    PENDING
68  12    Nazifa_Caldwell  brunch  PENDING    PENDING
69  12    Nazifa_Caldwell  golf    NA         PENDING
70  12    Eric_Caldwell    wedding chicken    CONFIRMED
71  12    Eric_Caldwell    brunch  Menu B     CONFIRMED
72  12    Eric_Caldwell    golf    NA         CONFIRMED
73  13    Rosanna_Bird     wedding vegetarian CONFIRMED
74  13    Rosanna_Bird     brunch  Menu C     CONFIRMED
75  13    Rosanna_Bird     golf    NA         CONFIRMED
76  13    Kurtis_Frost     wedding PENDING    PENDING
77  13    Kurtis_Frost     brunch  PENDING    PENDING
78  13    Kurtis_Frost     golf    NA         PENDING
79  14    Huma_Stokes      wedding NA         CANCELLED
80  14    Huma_Stokes      brunch  NA         CANCELLED
81  14    Huma_Stokes      golf    NA         CANCELLED
82  14    Samuel_Rutledge  wedding chicken    CONFIRMED
83  14    Samuel_Rutledge  brunch  Menu C     CONFIRMED
84  14    Samuel_Rutledge  golf    NA         CONFIRMED
85  15    Eddison_Collier  wedding PENDING    PENDING
86  15    Eddison_Collier  brunch  PENDING    PENDING
87  15    Eddison_Collier  golf    NA         PENDING
88  15    Stewart_Nicholls wedding chicken    CONFIRMED
89  15    Stewart_Nicholls brunch  Menu B     CONFIRMED
90  15    Stewart_Nicholls golf    NA         CONFIRMED

# A tibble: 90 x 5
   party name            event   meal       attendance
   <dbl> <chr>           <chr>   <chr>      <chr>
 1     1 Sommer_Medrano  wedding PENDING    PENDING
 2     1 Sommer_Medrano  brunch  PENDING    PENDING
 3     1 Sommer_Medrano  golf    NA         PENDING
 4     1 Phillip_Medrano wedding vegetarian CONFIRMED
 5     1 Phillip_Medrano brunch  Menu C     CONFIRMED
 6     1 Phillip_Medrano golf    NA         CONFIRMED
 7     1 Blanka_Medrano  wedding chicken    CONFIRMED
 8     1 Blanka_Medrano  brunch  Menu A     CONFIRMED
 9     1 Blanka_Medrano  golf    NA         CONFIRMED
10     1 Emaan_Medrano   wedding PENDING    PENDING
# ... with 80 more rows

In [99]:
test_that("Question 2.3", {
    expect_true(all(c("party", "name", "event", "meal", "attendance") %in% names(answer2.3)))
    expect_equal(nrow(answer2.3), 90L)
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

## Question 2.4

Which parties still have a "PENDING" attendance status for all of its members and all of the events? Your answer should be a vector of party ID's (not a tibble). Store your answer in `answer2.4`.

**Hint**: use `answer2.1` as a starting point. Use `pull()` to access a column as a vector.

```
answer2.4 <- answer2.1 %>% 
    group_by(FILL_THIS_IN) %>% 
    summarize(all_pending = all(FILL_THIS_IN == "PENDING")) %>%
    filter(all_pending) %>%
    FILL_THIS_IN(party)
```

In [68]:
answer2.4 <- answer2.1 %>% 
    group_by(party) %>% 
    summarize(all_pending = all(attendance == "PENDING")) %>%
    filter(all_pending) %>%
    pull(party)
print(answer2.4)

[1]  3  4  8 10

In [69]:
test_that("Question 2.4", {
    expect_equal(digest(unclass(answer2.4)),"f13a65bc5c8793a2cad1415aad7dff93")
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

## Question 2.5
Which parties still have a "PENDING" attendance status for all of its members, for the wedding event only? Your answer should be a vector of party ID's (not a tibble). Store your answer in `answer2.5`.

**Hint**: Use `pull()` to access a column as a vector.

```
answer2.5 <- guest %>% 
    group_by(FILL_THIS_IN) %>% 
    summarize(pending_wedding = all(FILL_THIS_IN == "PENDING")) %>%
    filter(FILL_THIS_IN) %>%
    FILL_THIS_IN(party)
```

In [73]:
answer2.5 <- guest %>% 
    group_by(party) %>% 
    summarize(pending_wedding = all(attendance_wedding == "PENDING")) %>%
    filter(pending_wedding) %>%
    pull(party)
print(answer2.5)

[1]  3  4  8 10

In [74]:
test_that("Question 2.5", {expect_equal(digest(unclass(answer2.5)), "f13a65bc5c8793a2cad1415aad7dff93")})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

# Part 3: The Model-Fitting Paradigm in R

**Overview**

1. Fit a linear regression model to life expectancy ("Y") from year ("X") by filling in the formula. Notice what appears as the output.
2. Use the `unclass` function to uncover the object's true nature: a list.

## Question 3.1
First, create a subset of the `gapminder` dataset containing only the country of `France`. Store your answer in `answer3.1`.

```
(answer3.1 <- gapminder %>%
   FILL_THIS_IN(FILL_THIS_IN == FILL_THIS_IN))
```

In [75]:
(answer3.1 <- gapminder %>%
   filter(country == 'France'))
print(answer3.1)

   country continent year lifeExp pop      gdpPercap
1  France  Europe    1952 67.410  42459667  7029.809
2  France  Europe    1957 68.930  44310863  8662.835
3  France  Europe    1962 70.510  47124000 10560.486
4  France  Europe    1967 71.550  49569000 12999.918
5  France  Europe    1972 72.380  51732000 16107.192
6  France  Europe    1977 73.830  53165019 18292.635
7  France  Europe    1982 74.890  54433565 20293.897
8  France  Europe    1987 76.340  55630100 22066.442
9  France  Europe    1992 77.460  57374179 24703.796
10 France  Europe    1997 78.640  58623428 25889.785
11 France  Europe    2002 79.590  59925035 28926.032
12 France  Europe    2007 80.657  61083916 30470.017

# A tibble: 12 x 6
   country continent  year lifeExp      pop gdpPercap
   <fct>   <fct>     <int>   <dbl>    <int>     <dbl>
 1 France  Europe     1952    67.4 42459667     7030.
 2 France  Europe     1957    68.9 44310863     8663.
 3 France  Europe     1962    70.5 47124000    10560.
 4 France  Europe     1967    71.6 49569000    13000.
 5 France  Europe     1972    72.4 51732000    16107.
 6 France  Europe     1977    73.8 53165019    18293.
 7 France  Europe     1982    74.9 54433565    20294.
 8 France  Europe     1987    76.3 55630100    22066.
 9 France  Europe     1992    77.5 57374179    24704.
10 France  Europe     1997    78.6 58623428    25890.
11 France  Europe     2002    79.6 59925035    28926.
12 France  Europe     2007    80.7 61083916    30470.

In [76]:
test_that("Question 3.1", {expect_equal(digest(unclass(answer3.1)), "a6125bcbb25047b7a8c932acbb1f2250")})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

### Question 3.2

> Fit a linear regression model to life expectancy ("Y") from year ("X") by filling in the formula

Now, using the `lm()` function we will create the linear model. Store your answer in `answer3.2`.

```
(answer3.2 <- FILL_THIS_IN(FILL_THIS_IN ~ FILL_THIS_IN, answer3.1)
```

In [81]:
(answer3.2 <- lm(lifeExp ~ year, answer3.1))
print(answer3.2)

Call:
lm(formula = lifeExp ~ year, data = answer3.1)

Coefficients:
(Intercept)         year
  -397.7646       0.2385

Call:
lm(formula = lifeExp ~ year, data = answer3.1)

Coefficients:
(Intercept)         year
  -397.7646       0.2385

In [82]:
test_that("Question 3.2", {
    expect_known_hash(round(coef(answer3.2), 4), "e7375b4c2683882feb9d7215f6929f69")
    expect_known_hash(answer3.2$terms, "9c71cfd9974bfbc8e160b1a31936d137")
})
print("Success!")

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed
[1] "Success!"

## Question 3.3

We are interested in the modeling results around the modeling period which starts at year 1952. To get a meaniningful "interpretable" intercept we can use the `I()` function.

Use `I()` to make the intercept so that the "beginning" of our dataset (1952) corresponds to '0' in the model. This makes all the years in the data set relative to the first year, 1952.

Store your answer in `answer3.3`.

```
answer3.3 <- FILL_THIS_IN(FILL_THIS_IN ~ I(FILL_THIS_IN-1952), answer3.1)
```

In [96]:
answer3.3 <- lm(lifeExp ~ I(year-1952), answer3.1)
print(answer3.3)

Call:
lm(formula = lifeExp ~ I(year - 1952), data = answer3.1)

Coefficients:
   (Intercept)  I(year - 1952)
       67.7901          0.2385

In [86]:
test_that("Question 3.3", {
    expect_known_hash(round(coef(answer3.3), 4), "6a83f591b39b440f2a699dbee2c23468")
    expect_known_hash(answer3.3$terms, "f7d8f19ef010f5932ba9b321f3f88282")
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

## Question 3.4
Use the `unclass()` function to take a look at how the `lm()` object actually looks like. Store your answer in `answer3.4`.

```
answer3.4 <- FILL_THIS_IN(answer3.3)
```

In [87]:
answer3.4 <- unclass(answer3.3)
print(answer3.4)

$coefficients
   (Intercept) I(year - 1952)
    67.7901282      0.2385014

$residuals
          1           2           3           4           5           6
-0.38012821 -0.05263520  0.33485781  0.18235082 -0.18015618  0.07733683
          7           8           9          10          11          12
-0.05517016  0.20232284  0.12981585  0.11730886 -0.12519814 -0.25070513

$effects
   (Intercept) I(year - 1952)
 -257.55220231    14.26030956     0.41516662     0.26479522    -0.09557618

    0.16405242     0.03368103     0.29330963     0.22293823     0.21256684

   -0.02780456    -0.15117596

$rank
[1] 2

$fitted.values
       1        2        3        4        5        6        7        8
67.79013 68.98264 70.17514 71.36765 72.56016 73.75266 74.94517 76.13768
       9       10       11       12
77.33018 78.52269 79.71520 80.90771

$assign
[1] 0 1

$qr
$qr
   (Intercept) I(year - 1952)
1   -3.4641016   -95.26279442
2    0.2886751    59.79130372
3    0.2886751     0.18965544
4    0.2886751     0.10603124
5    0.2886751     0.02240704
6    0.2886751    -0.06121716
7    0.2886751    -0.14484136
8    0.2886751    -0.22846557
9    0.2886751    -0.31208977
10   0.2886751    -0.39571397
11   0.2886751    -0.47933817
12   0.2886751    -0.56296237
attr(,"assign")
[1] 0 1

$qraux
[1] 1.288675 1.273280

$pivot
[1] 1 2

$tol
[1] 1e-07

$rank
[1] 2

attr(,"class")
[1] "qr"

$df.residual
[1] 10

$xlevels
named list()

$call
lm(formula = lifeExp ~ I(year - 1952), data = answer3.1)

$terms
lifeExp ~ I(year - 1952)
attr(,"variables")
list(lifeExp, I(year - 1952))
attr(,"factors")
               I(year - 1952)
lifeExp                     0
I(year - 1952)              1
attr(,"term.labels")
[1] "I(year - 1952)"
attr(,"order")
[1] 1
attr(,"intercept")
[1] 1
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>
attr(,"predvars")
list(lifeExp, I(year - 1952))
attr(,"dataClasses")
       lifeExp I(year - 1952)
     "numeric"      "numeric"

$model
   lifeExp I(year - 1952)
1   67.410              0
2   68.930              5
3   70.510             10
4   71.550             15
5   72.380             20
6   73.830             25
7   74.890             30
8   76.340             35
9   77.460             40
10  78.640             45
11  79.590             50
12  80.657             55

In [88]:
test_that("Question 3.4", {
    expect_known_hash(round(answer3.4$coefficients, 4), "6a83f591b39b440f2a699dbee2c23468")
    expect_known_hash(class(answer3.4), "086ebc4c59c08c43e75bae74f1e16897")
    expect_known_hash(answer3.4$terms, "f7d8f19ef010f5932ba9b321f3f88282")
    
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

# Part 4: Producing Tidy Tibbles with broom

## Question 4.1

Apply `broom::tidy()` to `answer3.3`. Store your answer in `answer4.1`.

```
answer4.1 <- FILL_THIS_IN(answer3.3)
```

In [89]:
answer4.1 <- broom::tidy(answer3.3)
print(answer4.1)

# A tibble: 2 x 5
  term           estimate std.error statistic  p.value
  <chr>             <dbl>     <dbl>     <dbl>    <dbl>
1 (Intercept)      67.8     0.119       567.  7.12e-24
2 I(year - 1952)    0.239   0.00368      64.8 1.86e-14

In [90]:
test_that("Question 4.1", {
    expect_known_hash(dimnames(answer4.1), "b7e5db66048ee1c33cb090078dc59103")
    expect_known_hash(answer4.1[[1]], "6736fedebcaa557ef7a78f8db206000f")
    expect_known_hash(round(answer4.1[[3]], 4), "004727aa166a650b3f55c2c11f6be257")
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

## Question 4.2
Apply `broom::augment()` to `answer3.3`. Store your answer in `answer4.2`.

```
answer4.2 <- FILL_THIS_IN(answer3.3)
```

In [91]:
answer4.2 <- broom::augment(answer3.3)
print(answer4.2)

# A tibble: 12 x 7
   lifeExp `I(year - 1952)` .fitted   .hat .sigma .cooksd .std.resid
     <dbl>         <I<dbl>>   <dbl>  <dbl>  <dbl>   <dbl>      <dbl>
 1    67.4                0    67.8 0.295   0.176 0.885       -2.06
 2    68.9                5    69.0 0.225   0.231 0.0107      -0.272
 3    70.5               10    70.2 0.169   0.197 0.283        1.67
 4    71.6               15    71.4 0.127   0.223 0.0572       0.887
 5    72.4               20    72.6 0.0991  0.223 0.0409      -0.863
 6    73.8               25    73.8 0.0851  0.230 0.00628      0.367
 7    74.9               30    74.9 0.0851  0.231 0.00319     -0.262
 8    76.3               35    76.1 0.0991  0.221 0.0516       0.969
 9    77.5               40    77.3 0.127   0.227 0.0290       0.631
10    78.6               45    78.5 0.169   0.228 0.0348       0.585
11    79.6               50    79.7 0.225   0.227 0.0606      -0.646
12    80.7               55    80.9 0.295   0.210 0.385       -1.36

In [92]:
test_that("Question 4.2", {
    expect_known_hash(round(answer4.2$.fitted, 4), "3a2e6323312173544d30c4dc75d5b604")
    expect_known_hash(round(answer4.2$.std.resid, 4), "b2796c0f920703cb5066fcda716be2e7")
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

## Question 4.3
Apply `broom::glance()` to `answer3.3`. Store your answer in `answer4.3`.

```
answer4.3 <- FILL_THIS_IN(answer3.3)
```

In [94]:
answer4.3 <- broom::glance(answer3.3)
print(answer4.3)

# A tibble: 1 x 12
  r.squared adj.r.squared sigma statistic  p.value    df logLik   AIC   BIC
      <dbl>         <dbl> <dbl>     <dbl>    <dbl> <dbl>  <dbl> <dbl> <dbl>
1     0.998         0.997 0.220     4200. 1.86e-14     1   2.23  1.53  2.99
# ... with 3 more variables: deviance <dbl>, df.residual <int>, nobs <int>

In [95]:
test_that("Question 4.3", {
    expect_known_hash(dimnames(answer4.3), "78044903eb403fb9220d796ac127297c")
    expect_known_hash(round(answer4.3[[2]], 4), "a3ec6ee89f16b0783571e8f9e26c9ef5")
    expect_known_hash(round(answer4.3[[4]], 4), "f95d29661fc511c6a038ae4e06b9ea02")
})

Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a/worksheets": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ/stat545a": The system cannot find the path specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"
Warning message in normalizePath(path.expand(path), winslash, mustWork):
"path[1]="C:/Users/41615/OneDrive/×ÀÃæ": The system cannot find the file specified"

Test passed

### Attribution

Thanks to Diana Lin, Icíar Fernández Boyano, David Kepplinger, and Vincenzo Coia for putting this worksheet together.